


.dashboard-button {
	background-color:blue; 
	height:50px; 
	padding-left:1em; 
	width:50px
}
.dashboard-header {
	background:#33557C;
}
.dashboard-navigation {
	margin:0em;
	margin-bottom:0em;
}
.dashboard-overview {
	background:#4D6B8C
}
.dashboard-month {
	background:#66809D
}
.dashB-panel {
	background:#ffffff;
	padding:1em;
}

/* text */
.dashboard-title {
	color:white;
}
.panel-title{
	color: white;
}
.dashB-lgtext{
	font-size: 2.5em;
	font-weight: bold;
}
.dashB-medtext{
	font-size: 2em;
	font-weight: bold;
}
.dashB-smalltext{
	font-size: .8em;
	color:#000000;
}


/* % change indicators */
.dashB-prcnt-chg{
	padding-left: .6em;
	padding-right: .6em;
	padding-top: .1em;
	padding-bottom: .1em;
}

/* ratings colors */
.dashB-best{
	background:#33CC33;
	color:#000000;
}
.dashB-good{
	background:#85E085;
	color:#000000;
}
.dashB-okay{
	background:#FFFF80;
	color:#000000;
}
.dashB-bad{
	background:#FFA8A8;
	color:#000000;
}
.dashB-worst{
	background:#FF5050;
	color:#000000;
}





